.login-signup{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.button-box{
  background-color: #ffff;
  width: 20rem;
  height: 2.5rem;
  margin: 1rem auto;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.toggle-btn{
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}



#signup{
  display: none;
}

#login{
  display: none;
}