.about{
    border-radius: 25px;
    background-color: #e5e8fb;
    margin: 20px 0px;
    padding:40px;
    height:max-content;
    text-align: center;
    min-height: 40vh;
    color:#092397;
}

.how{
    text-align: center;
    font-weight: 200;
}
h2{
    text-align: center;
    margin: 20px;
    font-family: 'Lunasima', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Serif', serif;
}
.read{
    display: block;
    margin: 5px auto;
    background-color: #092397;
    color:#e5e8fb;
    
}
.img{
    width: 20vh;
    height: 20vh;
}

